 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Card styles */
    .card {
      width: 300px;
      padding: 20px;
      background-color: #f0f0f0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Image styles */
    .card img {
      width: 100%;
    }
h1{
	margin-left: 50px
}
p{
	margin-left: 50px;
}

botton{
	margin-left: 120px;
	padding: 10px;
      background-color: red;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
}